
.blackText {
    font-family: Arial, Sans-serif;
    color: #000000;
    font-size: 12px;
    text-align: left;
}

.redText {
    font-family: Arial, Sans-serif;
    color: #ff0000;
    font-size: 11px;
    text-align: left;
}

.loginButton {

    background-color: white;
    border: 1px solid #000000;
    color: #000000;
    font-size: 11px;
    margin: 0 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #000000;
}

.box {

    border: 1px solid #000000;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 5px;
    margin-right: 42px;
    padding: 3px;
    width: 203px;
}

.background {
    border: 1px none transparent;
    color: #000000;
    font-size: 11px;
    margin-left: -8px;
    margin-top: 5px;
    padding: 6px;
}