<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 id="WebApp_ID" version="2.5">

	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

	<filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>



    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <!--<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>contextAttribute</param-name>
            <param-value>org.springframework.web.context.WebApplicationContext.ROOT</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->


	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/gwtspringsecurityproject/greet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>authServlet</servlet-name>
		<servlet-class>server.AuthServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>authServlet</servlet-name>
		<url-pattern>/gwtspringsecurityproject/auth</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>authorizationServlet</servlet-name>
        <servlet-class>server.AuthRPCServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authorizationServlet</servlet-name>
        <url-pattern>/gwtspringsecurityproject/login</url-pattern>
    </servlet-mapping>



	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GwtSpringSecurityProject.html</welcome-file>
	</welcome-file-list>

</web-app>
