/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

header{
    border-bottom: solid;
}

div#content{
    padding-top: 10%;
}

footer {
    width:100%;
    height:0px;
    border-top: solid;
    text-align: center;
    clear: both;
    position: absolute;
    bottom:5%;
}


