/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

header{
    height:15%;
    border-bottom: solid;
    text-size:14px;
}

div#content{
    padding-top: 10%;
    width:100%;
}

footer{
    margin-top: 19%;
  border-top: solid;
  border-width: thick;
  text-size:14px;
  text-align: center;
}
